<p id="notice"><%= notice %></p>

<h1>Technical Reports</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technical_reports.each do |technical_report| %>
      <tr>
        <td><%= technical_report.picture %></td>
        <td><%= link_to 'Show', technical_report %></td>
        <td><%= link_to 'Edit', edit_technical_report_path(technical_report) %></td>
        <td><%= link_to 'Destroy', technical_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technical Report', new_technical_report_path %>
