<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>
<% end %>

<div class="col-lg-4">

  <h1><%= t('information_of') %> <%= @client.name %></h1>
  <%= link_to t(:edit), edit_client_path(@client), class:"btn btn-primary" %>
  <%= link_to t(:back), clients_path, class:"btn btn-primary" %>

  <table class="table table-striped table-hover ">
    <tbody>
      <tr>
        <td>
          <strong><%= t('identification') %></strong>
        </td>
        <td>
          <%= @client.identification %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('first_name') %></strong>
        </td>
        <td>
          <%= @client.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('type') %></strong>
        </td>
        <td>
          <%= !@client.client_type.nil? ? t(@client.client_type.downcase) : '' %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('last_name') %> </strong>
        </td>
        <td>
          <%= @client.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('telephone') %></strong>
        </td>
        <td>
          <%= @client.telephone %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('mobile_phone') %></strong>
        </td>
        <td>
          <%= @client.mobile_phone %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%=  t('email') %></strong>
        </td>
        <td>
          <%= @client.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('address') %></strong>
        </td>
        <td>
          <%= @client.address %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('city') %></strong>
        </td>
        <td>
          <%= @client.city.name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('state') %></strong>
        </td>
        <td>
          <%= @client.city.state.name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('country') %></strong>
        </td>
        <td>
          <%= @client.city.state.country.name %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-8">

  <h1><%= t('client_cars') %></h1>

  <%= render 'cars_table', cars: @client.cars %>
</div>
