<%= form_for(repair_order, url: repair_order, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if repair_order.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2><%= pluralize(repair_order.errors.count, "error") %> prohibited this debt from being saved:</h2>
        <ul>
        <% repair_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <%= notice %>
    </div>
  <% end %>

<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">

      <div id="order_number_el" class="form-group">
        <%= f.label :order_number, class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.number_field :order_number, class:'form-control', required:true, value: (repair_order.order_number.nil? ? @last_repair_order_id + 1 : repair_order.order_number) %>
        </div>
      </div>

      <% @options = options_for_select(
        [
          [t('campaign'), "Campaign"],
          [t('warranty'), "Warranty"],
          [t('repair'), "Repair"],
          [t('service'), "Service"]
        ], 4
      ) %>

      <div id="order_type_select" class="form-group">
        <%= f.label t(:type), class: "col-sm-2 control-label" %>
         <div class="col-sm-10">
          <%= f.select :order_type, @options, {}, { id: 'type_select', class:'form-control', required: true } %>
        </div>
      </div>

      <% @options_service = options_for_select(
        [
          [t('Mantenimiento 1000                                                                                  '), "Mantenimiento 1000                                                                                  "],
          [t('Mantenimiento 5000                                                                                  '), "Mantenimiento 5000                                                                                  "],
          [t('Mantenimiento 10000                                                                                 '), "Mantenimiento 10000                                                                                  "],
          [t('Mantenimiento 15000                                                                                 '), "Mantenimiento 15000                                                                                  "],
          [t('Mantenimiento 20000                                                                                 '), "Mantenimiento 20000                                                                                  "],
          [t('Mantenimiento 25000                                                                                 '), "Mantenimiento 25000                                                                                  "],
          [t('Mantenimiento 30000                                                                                 '), "Mantenimiento 30000                                                                                  "],
          [t('Mantenimiento 35000                                                                                 '), "Mantenimiento 35000                                                                                  "],
          [t('Mantenimiento 40000                                                                                 '), "Mantenimiento 40000                                                                                  "],
          [t('Mantenimiento 45000                                                                                 '), "Mantenimiento 45000                                                                                  "],
          [t('Mantenimiento 50000                                                                                 '), "Mantenimiento 50000                                                                                  "],
          [t('Mantenimiento 55000                                                                                 '), "Mantenimiento 55000                                                                                  "],
          [t('Mantenimiento 60000                                                                                 '), "Mantenimiento 60000                                                                                  "],
          [t('Mantenimiento 65000                                                                                 '), "Mantenimiento 65000                                                                                  "],
          [t('Mantenimiento 70000                                                                                 '), "Mantenimiento 70000                                                                                  "],
          [t('Mantenimiento 75000                                                                                 '), "Mantenimiento 75000                                                                                  "],
          [t('Mantenimiento 8000                                                                                  '), "Mantenimiento 80000                                                                                  "],
          [t('Mantenimiento 85000                                                                                 '), "Mantenimiento 85000                                                                                  "],
          [t('Mantenimiento 90000                                                                                 '), "Mantenimiento 90000                                                                                  "],
          [t('Mantenimiento 95000                                                                                 '), "Mantenimiento 95000                                                                                  "],
          [t('Mantenimiento 100000                                                                                '), "Mantenimiento 100000                                                                                 "],
          [t('Mayores de 100000 (equivalentes a 5000 kms)                                                         '), "Mayores de 100000 (equivalentes a 5000 kms)                                                         "],
          [t('Mayores 100000 kims  ( equivalentes a 10000 kms )                                                   '), "Mayores a 100000 kims ( equivalentes a 10000 kms )                                                  "],
          [t('Mayores a 100000 kms (equivalentes a 20000 kms)                                                     '), "Mayores a 100000 kms ( equivalentes a 20000 kms )                                                  "],
          [t('Mayores a 100000 kms ( equivalentes a 40000 kms)                                                    '), "Mayores a 100000 kms ( equivalentes a 40000 kms )                                                  "],

        ], 25
      ) %>

      <% @options_repair = options_for_select(
        [
          [t('Motor'), "Motor"],
          [t('Transmision Y Embrague'), "Transmision Y Embrague"],
          [t('Ejes y Direccion'), "Ejes y Direccion"],
          [t('Frenos'), "Frenos"],
          [t('Carroceria'), "Carroceria"],
          [t('Electricidad'), "Electricidad"]
        ], 6
      ) %>

      <div id="service_type_select" class="form-group" style="display: none;">
        <%= f.label t(:service_type), class: "col-sm-2 control-label" %>
         <div class="col-sm-10">
          <%= f.select :ayax_service_type, @options_service, {}, { class:'form-control' } %>
        </div>
      </div>

      <div id="repair_type_select" class="form-group" style="display: none;">
        <%= f.label t(:repair_type), class: "col-sm-2 control-label" %>
         <div class="col-sm-10">
          <%= f.select :ayax_repair_type, @options_repair, {}, { class:'form-control' } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:search_car), class:'col-lg-2 control-label'  %>
        <div class="col-lg-3 search-car-toggle">
          <div class="togglebutton">
            <label>
              <%= t('by_ci') %> &nbsp; &nbsp;<input id="toggle_button" onClick="changeSearchType(this);" type="checkbox" checked> <%= t('by_chassis_number') %>
            </label>
          </div>
        </div>
        <div class="col-lg-4">
          <%= f.text_field :car_chassis_number, class:'form-control', data: { autocomplete_source: '/chassis_numbers'}, value: !repair_order.car.nil? ? repair_order.car.chassis_number : ''  %>
          <%= f.text_field :ci_number, class:'form-control hidden', data: { autocomplete_source: '/cis'}, value: !repair_order.car.nil? && !repair_order.car.client.nil? ? repair_order.car.client.identification : '' %>
        </div>
        <div class="col-lg-3">
          <div class="btn-group btn-group-justified btn-group-raised">
            <a class="btn btn-primary" id="import_btn" onClick="importFromAyax()" title="<%= t('import_data_from_ayax') %>"><%= t('import') %> <span id="refresh_icon" class="glyphicon glyphicon-refresh" aria-hidden="true" style="display: none;"></span> <span id="okay_icon" class="glyphicon glyphicon-ok" aria-hidden="true" style="display:none;"></span></a>
          </div>
        </div>
      </div>

      <div id="car_info_group" class="form-group">
        <%= f.label t(:car), class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <div id="car_info"></div>
        </div>
      </div>

      <%= f.hidden_field :car_id %>

      <div id="car_select" class="form-group hidden">
        <%= f.label :car_id, class:'col-lg-2 control-label'  %>
        <div class="col-lg-10">
          <%= f.collection_select(:car_select, [], :id, :name,{},{ class: "form-control" }) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:kilometers), class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.number_field :kilometers, class:'form-control' %>
        </div>
      </div>

      <div id="description_el" class="form-group">
        <%= f.label :description, class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_area :description, class:'form-control', rows: 4 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note, class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_area :note, class:'form-control', rows: 4 %>
        </div>
      </div>

      <% @options = [] %>
      <% @mechanics.each do |mechanic| %>
        <% @option = [] %>
        <% @option << mechanic.first_name.to_s + ' ' + mechanic.last_name.to_s %>
        <% @option << mechanic.id.to_s %>
        <% @options << @option %>
      <% end %>

      <div class="form-group">
        <%= f.label t(:mechanic), class:'col-lg-2 control-label'  %>
        <div class="col-lg-10">
          <%= f.select :mechanic_id, @options, {}, { class: "form-control", required: true } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :ayax, class:'col-lg-2 control-label' %>
        <div class="checkbox">
          <label>
           <%= f.check_box :ayax %><span class="checkbox-material"></span>
          </label>
        </div>
      </div>

      <div id="repair_date_el" class="form-group">
        <%= f.label t(:repair_date), class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.date_select :repair_date, {use_month_names: [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)],start_year: 2016, class:'form-control' } %>
        </div>
      </div>

      <div id="compliance_date_el" class="form-group" style="display: none;">
        <%= f.label t(:compliance_date), class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.date_select :compliance_date, {use_month_names: [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)],start_year: 2016, class:'form-control' } %>
        </div>
      </div>

      <div id="claim_number" class="form-group" style="display:none;">
        <%= f.label :claim_number, class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.number_field :claim_number, class:'form-control' %>
        </div>
      </div>

      <div id="operation_number" class="form-group" style="display:none;">
        <%= f.label :operation_number, class:'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :operation_number, class:'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit class:"btn btn-primary" %>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $('#repair_order_car_chassis_number').autocomplete({ source: $('#repair_order_car_chassis_number').data('autocomplete-source')});
  $('#repair_order_ci_number').autocomplete({source: $('#repair_order_ci_number').data('autocomplete-source')});
  getCarByChasisNumber();
  $('#type_select').val('<%= repair_order.order_type %>');

  $('#repair_order_car_chassis_number').on('change input autocompleteselect',function(event, ui){
    if ($(this).val().length == 17)
      selectCar('/get_car_by_chassis_number/'+$(this).val());
    else if (ui)
      selectCar('/get_car_by_chassis_number/'+ui.item.value);

  })
  $('#repair_order_ci_number').on('change input autocompleteselect',function(event, ui){
    if (ui)
      selectCar('/get_car_by_client_identification/'+ui.item.value);
    else if ($(this).val().length > 0)
      selectCar('/get_car_by_client_identification/'+$(this).val());
  })
  $('#type_select').change(function(){
    toggleSelect(this);
  });
  $('#repair_order_car_select').change(function(){
    $('#repair_order_car_id').val($(this).val());
  });

  function selectCar(url) {
    $.get(url,function(data){
        if (data.length > 1)
        {
          $('#car_select').removeClass('hidden');
          $('#car_info_group').addClass('hidden');
          $('#repair_order_car_select').html("");

          $.each(data, function (i, car) {
            $('#repair_order_car_select').append($('<option>', {
                value: car.id,
                html : car.brand + ' ' + car.model + ' (Matr&iacute;cula: '+ car.plate +')'
            }));
          });
          $('#repair_order_car_select').change();
        }
        else
        {
          $('#car_select').addClass('hidden');
          $('#car_info_group').removeClass('hidden');
          var car = data[0];
          if (car)
          {
            $('#car_info').html(car.brand + ' ' + car.model + ' (Matr&iacute;cula: '+ car.plate +')');
            $('#repair_order_car_id').val(car.id);
          }
        }
      });
  }
  function importFromAyax () {
    if (!$('#import_btn').attr('disabled'))
    {
      $('#import_btn').attr('disabled',true);
      $('#refresh_icon').css('display','block');
      $('#okay_icon').css('display','none');
      var chassis_number_el = $('#repair_order_car_chassis_number');
      if (chassis_number_el.val().length == 17)
        $.get('/import_data_from_ayax/'+chassis_number_el.val(),function(res){
          $('#import_btn').attr('disabled',false);
          $('#refresh_icon').css('display','none');
          $('#okay_icon').css('display','block');
          getCarByChasisNumber();
          console.log(res)
        })
      console.log("holis")
    }
  }
  function toggleSelect (selectEl) {
    if ($(selectEl).val() == "Campaign") {
      $('#claim_number').css('display', 'block');
      $('#operation_number').css('display', 'block');
      $('#compliance_date_el').css('display', 'block');
      $('#repair_date_el').css('display', 'none');
      $('#description_el').css('display', 'none');
      $('#order_number_el').css('display', 'none');
    }
    else {
      $('#compliance_date_el').css('display', 'none');
      $('#repair_date_el').css('display', 'block');
      $('#operation_number').css('display', 'none');
      $('#claim_number').css('display', 'none');
      $('#description_el').css('display', 'block');
      $('#order_number_el').css('display', 'block');
    }
    if ($(selectEl).val() == "Service")
    {
      $('#service_type_select').css('display','block');
      //$('#service_type_select').attr('disabled',false);
      $('#repair_type_select').css('display','none');
      //$('#repair_type_select').attr('disabled',true);
    }
    else if ($(selectEl).val() == "Repair")
    {
      $('#service_type_select').css('display','none');
      //$('#service_type_select').attr('disabled',true);
      $('#repair_type_select').css('display','block');
      //$('#repair_type_select').attr('disabled',false);
    }
    else
    {
      $('#service_type_select').css('display','none');
      $('#repair_type_select').css('display','none');
    }
  }
  function changeSearchType(elem) {
    toggleSearchType(elem);
    if ($(elem).prop('checked'))
    {
      $('#import_btn').attr('disabled',false);
      getCarByChasisNumber();
    }
    else
    {
      ci_number_el = $('#repair_order_ci_number');
      $('#import_btn').attr('disabled',true);
      if (ci_number_el.val().length > 0)
        selectCar('/get_car_by_client_identification/'+ci_number_el.val());
    }
  }
  function getCarByChasisNumber() {
    chassis_number_el = $('#repair_order_car_chassis_number');
    if (chassis_number_el.val().length == 17)
      selectCar('/get_car_by_chassis_number/'+chassis_number_el.val());
  }

</script>
<% end %>
