<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>
<% end %>
<div class="container-fluid">

  <div class="row">
    <div class="form-horizontal">
      <div class="col-lg-6 no-padding">
        <div class="well bs-component">
          <div class="form-group">
            <label class="col-lg-2 control-label repair-order__search-title" for="repair_order_Buscar auto"><%= t('search_order') %></label>
            <div class="col-lg-3 search-car-toggle repair-order__search-toggle">
              <div class="togglebutton">
                <label>
                  <%= t('by_order_number') %> &nbsp; &nbsp;<input id="toggle_button" onclick="changeSearchType(this);" type="checkbox" checked=""> <%= t('by_chassis_number') %>
                </label>
              </div>
            </div>
            <div class="col-lg-4 repair-order__search-input">
              <input class="form-control ui-autocomplete-input" data-autocomplete-source="/chassis_numbers" type="text" name="repair_order[car_chassis_number]" id="repair_order_car_chassis_number" autocomplete="off" value="<%= @chassis_number %>">
              <input class="form-control hidden ui-autocomplete-input" data-autocomplete-source="/repair_order_numbers" type="text" name="repair_order[repair_order_number]" id="repair_order_ci_number" autocomplete="off" value="<%= @repair_order_number %>">
            </div>
            <div class="col-lg-3 repair-order__search-import">
              <div class="btn-group btn-group-justified btn-group-raised">
                <a class="btn btn-primary" id="import_btn" onClick="importFromAyax()" disabled="true" title="<%= t('import_data_from_ayax') %>">
                  <%= t('import') %>
                  <span id="refresh_icon" class="glyphicon glyphicon-refresh" aria-hidden="true" style="display: none;"></span>
                  <span id="okay_icon" class="glyphicon glyphicon-ok" aria-hidden="true" style="display:none;"></span>
                  <span id="fail_icon" class="glyphicon glyphicon-remove" aria-hidden="true" style="display: none; color: #dc0f00;"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-header" style="margin: 0; float: right; padding-right: 10px;">
      <h1 id="tables"><%= t('repair_orders') %></h1>
    </div>
  </div>

  <div class="row">
    <%= link_to t('new_repair_order'), new_repair_order_path, class:"btn btn-primary" %>
  </div>
</div>

<div class="col-lg-12">
  <div id="repair_orders_table" class="bs-component">
    <%= render 'repair_orders_table', repair_orders: @repair_orders %>
    <%= will_paginate @repair_orders, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<script type="text/javascript">
  $('#repair_order_car_chassis_number').autocomplete({ source: $('#repair_order_car_chassis_number').data('autocomplete-source')});
  $('#repair_order_ci_number').autocomplete({source: $('#repair_order_ci_number').data('autocomplete-source')});

  $(document).ready(function(){
  if ($('#repair_order_car_chassis_number').val())
    $('#repair_order_car_chassis_number').change();

  if ($('#repair_order_ci_number').val())
    $('#repair_order_ci_number').change();
  })

  $('#repair_order_car_chassis_number').on('change input autocompleteselect',function(event, ui){
    if ($(this).val().length == 17)
      getRepairOrders('/get_repair_orders_by_chassis_number/','chassis_number='+$(this).val(),true);
    else if (ui)
      getRepairOrders('/get_repair_orders_by_chassis_number/','chassis_number='+ui.item.value,true);
    else
    {
      $('#import_btn').attr('disabled',true);
      $('#refresh_icon').css('display','none');
      $('#okay_icon').css('display','none');
      $('#fail_icon').css('display','none');
    }

    if ($(this).val().length === 0) {
      window.location.search = '?page=1';
    }

  });

  $('#repair_order_ci_number').on('change input autocompleteselect',function(event, ui){
    if (ui)
      getRepairOrders('/get_repair_orders_by_order_number/','order_number='+ui.item.value,false);
    else if ($(this).val().length > 0)
      getRepairOrders('/get_repair_orders_by_order_number/','order_number='+$(this).val(),false);

    if ($(this).val().length === 0) {
      window.location.search = '?page=1';
    }
  });

  var current_timeout = undefined;

  function getRepairOrders(url,data,canImport)
  {
    clearTimeout(current_timeout);

    if (canImport)
      $('#import_btn').attr('disabled',false);

    current_timeout = setTimeout(function(){
      $.post(url,data,function(data){$('#repair_orders_table').html(data)});
    }, 700);
  }

  function changeSearchType(elem) {
    toggleSearchType(elem);
    $('#import_btn').attr('disabled',true);

    if ($(elem).prop('checked'))
    {
      chassis_number_el = $('#repair_order_car_chassis_number');
      //$('#import_btn').attr('disabled',false);
      if (chassis_number_el.val().length == 17)
        getRepairOrders('/get_repair_orders_by_chassis_number/','chassis_number='+chassis_number_el.val(),true);
    }
    else
    {
      ci_number_el = $('#repair_order_ci_number');
      if (ci_number_el.val().length > 0)
        getRepairOrders('/get_repair_orders_by_order_number/','order_number='+ci_number_el.val(),false);
    }
  }

  function importFromAyax () {
    if (!$('#import_btn').attr('disabled'))
    {
      $('#import_btn').attr('disabled',true);
      $('#refresh_icon').css('display','block');
      $('#okay_icon').css('display','none');
      var chassis_number_el = $('#repair_order_car_chassis_number');
      if (chassis_number_el.val().length == 17)
        $.get('/import_data_from_ayax/'+chassis_number_el.val(),function(res){
          $('#import_btn').attr('disabled',false);
          $('#refresh_icon').css('display','none');
          $('#okay_icon').css('display','block');
          location = '/repair_orders/?chassis_number='+chassis_number_el.val();
        }).fail(function(res) {
          console.log(res);
          $('#refresh_icon').css('display','none');
          $('#fail_icon').css('display','block');
        })
    }
  }
</script>
