<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @repair_order.order_number %>
</p>

<p>
  <strong>Car:</strong>
  <%= @repair_order.car.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @repair_order.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair_order.description %>
</p>

<p>
  <strong>Ajax:</strong>
  <%= @repair_order.ajax %>
</p>

<p>
  <strong>Claim number:</strong>
  <%= @repair_order.claim_number %>
</p>

<p>
  <strong>Operation number:</strong>
  <%= @repair_order.operation_number %>
</p>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %> |
<%= link_to 'Back', repair_orders_path %>
